.round
  display: flex
  flex-direction: column
  flex-grow: 1
  justify-content: center
  align-items: center

  .loading
    @include design.fw(square, 700)
    color: design.$hex-accent

  .content
    display: flex
    flex-direction: column
    gap: design.rem(72)
    width: 100%
    padding-right: design.rem(12)
    padding-left: design.rem(12)

    header
      text-align: center

      h1
        margin-bottom: design.rem(12)
        @include design.fw(happiness, 900)
        font-size: design.rem(28)

      h2
        @include design.fw(square, 500)
        font-size: design.rem(16)
        color: design.$hex-sv

        strong
          padding-right: design.rem(12)
          color: design.$hex-accent

          &::after
            content: '/'
            padding-left: design.rem(12)
            font-size: design.rem(13)
            color: design.$hex-sv

    form
      fieldset
        display: flex
        justify-content: center
        gap: design.rem(32)
        background-color: design.$hex-white
        box-shadow: 0 13px 27px -5px rgba(50,50,93,0.25), 0 8px 16px -8px rgba(0,0,0,0.3), 0 -6px 16px -6px rgba(0,0,0,0.025)
        border-radius: design.rem(3)
        padding: design.rem(16) design.rem(38)

        .group
          @include design.row
          align-items: center
          gap: design.rem(7)

          label, .select
            @include design.col

          label, .select select
            font-size: design.rem(16)
            font-weight: 500

          label
            text-align: right
            @include design.fw(square, 700)

          select
            border-radius: design.rem(3)
            padding-right: design.rem(23)
            padding-left: design.rem(23)
            height: design.rem(38)

      .submit
        display: flex
        justify-content: center

        button
          opacity: .8
          display: inline-block
          background-image: linear-gradient(310deg, design.$hex-accent 0%, design.$hex-danger 100%)
          border: 0
          border-radius: design.rem(3)
          box-shadow: 0 5px 10px -3px rgba(0, 0, 0, .23), 0 6px 10px -5px rgba(0, 0, 0, .25)
          padding: design.rem(12) design.rem(21)
          @include design.fw(square, 700)
          font-size: design.rem(12)
          color: design.$hex-white
          transition: all .5s cubic-bezier(.4,0,.2,1)

          &:hover, &:focus
            opacity: 1

.main
  flex-direction: column

  header
    padding: design.rem(12)
    text-align: center

    h1
      margin-bottom: design.rem(12)
      @include design.fw(happiness, 900)
      font-size: design.rem(28)

    h2
      @include design.fw(square, 800)
      font-size: design.rem(16)
      color: design.$hex-sv

      strong
        padding-right: design.rem(12)
        color: design.$hex-accent

        &::after
          content: '-'
          padding-left: design.rem(12)
          font-size: design.rem(13)
          color: design.$hex-sv

      em
        padding-left: design.rem(12)
        font-style: normal

  .content
    display: flex
    flex-grow: 1
    background-color: design.$hex-black

  .match
    display: flex
    position: relative

    .vs
      position: absolute
      top: 0
      left: 50%
      z-index: 1
      transform: translateX(-50%)
      width: auto
      height: 100%
      aspect-ratio: 532 / 770

      img
        width: 100%
        height: 100%
        display: block
        filter: invert(53%) sepia(100%) saturate(5000%) hue-rotate(-17deg) brightness(87%)

    button
      display: block
      @include design.col
      background-color: transparent
      position: relative
      overflow: hidden
      width: 50%
      height: auto
      aspect-ratio: 1920 / 1080

      img
        display: block
        width: 100%
        height: auto

      em
        position: absolute
        bottom: design.rem(32)
        left: 50%
        transform: translateX(-50%)
        background-color: design.$hex-black
        border-radius: design.rem(3)
        padding: design.rem(12) design.rem(23)
        color: design.$hex-accent
        font-style: normal
        font-size: design.rem(27)
        font-weight: 700
        line-height: 1

  .winner
    position: relative
    display: block

    img
      display: block
      width: 100%
      height: auto
      aspect-ratio: 1920 / 1080

    em
      position: absolute
      top: design.rem(32)
      left: 50%
      transform: translateX(-50%)
      background-color: design.$hex-black
      border-radius: design.rem(3)
      padding: design.rem(12) design.rem(23)
      color: design.$hex-accent
      font-style: normal
      font-size: design.rem(27)
      font-weight: 700
      line-height: 1
